<!DOCTYPE html>
<html>
  <head>
    <title>TodoMvc</title>
    <%= csrf_meta_tags %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>

     <div class="nav navbar-default navbar-inverse navbar-fixed-top">
       <div class="container">
          <ul class="nav navbar-nav">
            <div class="navbar-header">
              <%= link_to image_tag('ruby_on_rails_logo_red.png', class: 'main-logo', height: '40'), root_path %>
            </div>

            <% if user_signed_in? %>
              <%= render 'nav_link', text: 'New Lists', path: new_list_path %>
              <%= render 'nav_link', text: 'New Article', path: new_article_path %>
              <%= render 'nav_link', text: 'My Lists', path: lists_path %>
              <%= render 'nav_link', text: 'My Articles', path: articles_path %>
            <% else %>
              <%= render 'nav_link', text: 'New Lists', path: new_list_path %>
              <%= render 'nav_link', text: 'New Article', path: new_article_path %>
            <% end %>

          </ul>
         <ul class="nav navbar-nav navbar-right">
           <% if user_signed_in? %>
             <%= render 'nav_link', text: "Signed in as #{current_user.email}", path: edit_user_registration_path %>
             <%= render 'nav_link', text: 'Logout', path: destroy_user_session_path, link_options: {method: :delete} %>
           <% else %>
             <%= render 'nav_link', text: 'Login', path: new_user_session_path %>
             <%= render 'nav_link', text: 'Sign Up', path: new_user_registration_path %>
           <% end %>
         </ul>
       </div>
     </div>

    <div class="">
      <p class="notice"><%= notice %></p>
      <p class="alert"><%= alert %></p>
      <%= yield %>
    </div>

  </body>
</html>
